.feature{
    margin-bottom: 67px;
}
.feature-title{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.feature-circle{
    width: 94px;
    height: 94px;
    margin: auto;
    padding-top: 22px;
    background-color: #ededed;
    border-radius: 45px;
}
.feature-detail{
    color: #1f5c87;
    text-align: center;
}
.feature-more{
    margin: auto;
    margin-bottom: 67px;
}
.feature-more button{
    outline: none !important;
    font-size: 20px;
    color: #1f5c87;
    background: none;
    border: none;
    text-decoration: underline;
}
.img-feature01{
    width: 56px;
    height: 59px;
    margin: auto;
    background: url('/image/saml.png') top center no-repeat
}
.img-feature02{
    width: 56px;
    height: 59px;
    margin: auto;
    background: url('/image/feature-02.png') top center no-repeat
}
.img-feature03{
    width: 56px;
    height: 59px;
    margin: auto;
    background: url('/image/feature-03.png') top center no-repeat
}
.img-feature04{
    width: 69px;
    height: 59px;
    margin: auto;
    background: url('/image/feature-04.png') top center no-repeat
}
.img-feature05{
    width: 56px;
    height: 59px;
    margin: auto;
    background: url('/image/feature-05.png') top center no-repeat
}
.img-feature06{
    width: 56px;
    height: 59px;
    margin: auto;
    background: url('/image/feature-06.png') top center no-repeat
}