.footer{
    margin-top: 50px;
}
.footer-menu{
    font-size: 14px;
    margin-bottom: 50px;
}
.footer-menu-title{
    font-size: 16px;
    font-style: bold;
    margin-bottom: 10px;
}
.footer-menu-detail{
    color: #8d919a;
}
.footer-menu-detail:hover{
    color: #464c59;
}
.footer-menu-detail img{
    margin-bottom: 10px;
}
.logo-facebook{
    width: 50px;
    height: 50px;
    background: url('/image/facebook@2x.png') top center no-repeat
}
.logo-twitter{
    width: 50px;
    height: 50px;
    background: url('/image/twitter@2x.png') top center no-repeat
}
.logo-google{
    width: 50px;
    height: 50px;
    background: url('/image/google@2x.png') top center no-repeat
}
.logo-linkedin{
    width: 50px;
    height: 50px;
    background: url('/image/linkedin@2x.png') top center no-repeat
}

@media (max-width: 992px) {
    .footer-menu{
        text-align: center;
    }
}