.header{
    background-color: #f3f4f5;
}
.logo-box{
    width: 100%;
    margin: auto;
    padding: 10px;
}
.logo-login-header{
    font-size: 14px;
    outline: none !important;
    padding: 10px 0px;
    margin-top: 8px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
}
.logo-try-header{
    font-size: 14px;
    outline: none !important;
    padding: 10px 0px;
    margin-top: 8px;
    width: 80%;
    background: #59ced0    ;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
.menu-header{
    padding: 20px;
}
.logo-short{
    width: 39px;
    height: 46px;
    margin: auto;
    background: url('/image/taskworld-logo.png') top center no-repeat
}
.menu-header-button{
    margin-left: 20px;
}
.menu-telephone{
    text-align: right;
}
.telephone-number{
    font-size: 14px;
    padding-top: 20px;
}
.telephone-number img{
    margin-right: 15px;
}

@media (min-width: 768px) {
    .logo-short{
        width: 165px;
        height: 49px;
        background: url('/image/logo.png') top center no-repeat
    }
}