.media{
    margin-top: 50px;
}
.media-header-1, .media-header-2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 15px;
}.vdo-box{
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.media-header-button{
    /* margin-top: 50px;
    margin-right: 20px; */
    margin: 50px 20px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff;
    outline: none !important;
    color: #888888;
    border: 1px solid #888888;
    border-radius: 10px;
}
.button-try{
    color: #ffffff;
    background-color: #f2938a;
    border: none;
}
.partner-title{
    width: 100%;

    margin:20px 0px;
}
.partner{
    margin: auto;
    margin-bottom: 20px;
}
.logo-samsung{
    width: 160px;
    height: 40px;
    background: url('/image/samsung-v-2.png') top center no-repeat
}
.logo-amazon{
    width: 160px;
    height: 40px;
    background: url('/image/amazon.png') top center no-repeat
}
.logo-netflix{
    width: 160px;
    height: 40px;
    background: url('/image/netflix.png') top center no-repeat
}
.logo-salesforce{
    width: 160px;
    height: 40px;
    background: url('/image/salesforce.png') top center no-repeat
}
.logo-roche{
    width: 160px;
    height: 40px;
    background: url('/image/roche.png') top center no-repeat
}
.logo-att{
    width: 160px;
    height: 40px;
    background: url('/image/at-t.png') top center no-repeat
}
.vdo-button{
    width: 100%;
    padding-top: 50px;
} 
.vdo-button img{
    width: 100%;
    margin: auto;
}
@media (max-width: 991px) {
    .media-header-1{
        font-size: 30px;
    }
    .media-header-2{
        font-size: 25px;
    }
    .partner-title{
        text-align: center;
    }
    .media-header-button{
        margin: 20px 20px;
    }
}
@media (max-width: 767px) {
    .vdo-button img{
        width: 90%;
    }
    .media-header-1{
        font-size: 30px;
        margin-right: 10px;
    }
    .media-header-2{
        font-size: 30px;
    }
    .media-header-button{
        margin: 20px 20px;
    }
}