.menu-background{
    padding: 39px;
    margin-bottom: 69px;
    background: linear-gradient(90deg, rgba(31,92,135,1) 0%, rgba(63, 190, 192, 1) 50%, rgba(89,206,208,1) 100%);
}
.menu-title{
    text-align: center;
    margin: 0px 50px;
    margin-bottom: 64px;
    color: #ffffff;
}
.preview-image{
    color: #ffffff;
    display: none;
    padding-top: 24px;
}
.preview-image img{
    box-shadow: 2px 2px 4px #9b9b9b;
}
.previous{
    animation: 0.3s ease-out 0s 1 slidePrevious;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    display: block;
}
.show{
    animation: 0.5s ease-out 0s 1 slideShow;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 2;
    display: block;
}
.next{
    animation: 0.5s ease-out 0s 1 slideNext;
    position: relative;
    opacity: 0.8;
    margin-top: 55px;
    margin-left: 49px;
    display: block;
}
.menu-button-all{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.logo-menu{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 45px;
}
.logo-active{
    background-color: #ff9e95;
}
.menu-button-header{
    width: 100%;
    font-size: 20px;
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
}
.menu-button-header:hover{
    font-size: 24px;
}
.menu-button-detail{
    margin-left: 56px;
    font-size: 16px;
}
.detail-none{
    display: none;
}
.line-top{
    border-top: 1px solid #ffffff;
}

.logo-facebook{
    width: 50px;
    height: 50px;
    background: url('/image/facebook@2x.png') top center no-repeat
}
.preview-box{
    width: 100%;
}
.menu-button-logo{
    float: left;
    padding: 5px 8px 8px 9px;
}
.menu-button-logo img{

    width: 20px;
    height: 20px;
}
.menu-button button{
    outline: none !important;
    padding: 24px 0px;
    width: 100%;
    color: #ffffff;
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-align: left;
}
.button-active{
    display: block;
}
.button-list{
    display: none;
    width: auto;
    margin: auto;
}
.trigger-button{
    display: inline-block;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 45px;
    width: 15px;
    height: 15px;
}
.trigger-active{
    background-color: #f2938a;
    border: none;
}

@media (max-width: 991px) {
    .menu-button-logo{
        margin: auto;
        float: none;
    }
    .menu-button button{
        display: none;
        text-align: center;
        color: #ffffff;
    }
    .line-top{
        border-top: none;
    }
    .button-active{
        display: block !important;
    }
    .button-list{
        display: block;
        width: 210px;
    }
}
@media (max-width: 767px) {
    .preview-image img{
        width: 300px;
    }
}

@keyframes slideShow {
    0% {
        top: 55px;
        left: 49px;
        opacity: 0.1;
    }
    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
}

@keyframes slideNext {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes slidePrevious {
    0% {
        top: 0px;
        left: 0px;
        opacity: 0.8;
    }
    100% {
        top: 55px;
        left: 49px;
        opacity: 0;
    }
}