/* .share-background{
    margin-top: -131px;
    width: 100%;
    height: 437px;
    background: url('/image/buttom-cta-bg.png') top center no-repeat;
} */
.share-background{
    width: 100%;
    margin-top: -131px;
    background-color: #4fbfc1;
}
.share-device{
    z-index: 2;
    margin: auto;
    width: 254px;
    height: 232px;
    background: url('/image/device.png') top center no-repeat;
}
.share-title{
    width: 70%;
    margin: auto;
    margin-top: 193px;
    color: #ffffff;
}
.share-button {
    width: 33%;
    margin: 50px auto;
}
.share-button button{
    outline: none !important;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

@media (max-width: 992px) {
    .share-button {
        width: 50%;
    }
    .share-title{
        text-align: center;
    }
}